.listItem {
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 16px;
}
.listItem:hover {
    background-color: #f5f5f5;
}

.listItemSelected {
    background-color: #ffe8a0 !important;
}

.listItemSelected:hover {
    background-color: #ffe8a0 !important;
}