.listItem {
    border-bottom: 1px solid var(--notes-gray-2);
    padding: 12px 16px;
}
.listItem:hover {
    background-color: var(--notes-gray-1);
}

.newNoteTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.noteContent {
    display: inline;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;
}

.listItemSelected {
    background-color: var(--notes-blue-1) !important;
}