.appContainer {
  display: flex;
  height: 100vh;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--notes-gray-3);
  background-color: var(--notes-gray-1);
}

.welcome {
  margin-right: 1rem;
}

.contentRow {
  display: flex;
  flex: 1;
}

.editorContainer {
  flex: 1;
  background: var(--notes-white);
} 